{% extends 'base.html.twig' %}

{% block title %}New category{% endblock %}
{% block titleBar %}{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('front-end/css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('front-end/css/new.css') }}">
    <div class="align">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a href="/profile" class="btn classNew1">Go Back</a>
    </div>
{% endblock %}
