{% extends 'base.html.twig' %}

{% block title %}All events{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block titleBar %}{% endblock %}
{% block body %}
{% if events %}
<link rel="stylesheet" href="{{ asset('front-end/css/index.css') }}">

    <div class="eventTitleAlign">
        <p align="center">Hello <mark class="colorUser" >{{ user.username }}</mark> ADMIN! </p>
    </div>
    <div class="eventTitleAlign1">
        <p align="center">Enjoy customizing KTU events</p>
    </div>
<div class="align1">
    <table id="event" class ="table table-hover ">
        <thead class="thead-dark">
        <tr>
            <th>Event Title</th>
            <th>Event Category</th>
            <th>Event Date</th>
            <th>Event Price</th>
            <th>Inspect</th>
            <th>Customize</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.category }}</td>
                <td>{{ event.date|date('Y-m-d') }}</td>
                {% if event.price == 0 %}
                    <td>Free!</td>
                {% else %}
                    <td>{{ event.price }} €</td>
                {% endif %}
                <td><a href="/event/{{event.id}}" button class="btn">Show</a></td>
                <td><a href="/event/edit/{{event.id}}" button class="btn">Edit</a></td>
                <td><a href="#" button class="btn del" data-id="{{ event.id }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
    <div class="eventTitleAlign">
        <p align="center">Hello <mark class="colorUser" >{{ user.username }}</mark> ADMIN! </p>
    </div>
    <div class="eventTitleAlign1">
        <p align="center">No events to customize yet!</p>
    </div>
    <div class="eventTitleAlign2">
        <p align="center">Please add new events at section Create_new!</p>
    </div>
{% endif %}
{% endblock %}
{% block javascripts %}
<script src="/js/maineve.js"></script>
{% endblock %}
