{% extends 'base.html.twig' %}

{% block title %}All events{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block titleBar %}{% endblock %}
{% block body %}
{% if events %}
    <table id="event" class ="table table-striped">
        <thead>
        <tr>
            <th>Event Title</th>
            <th>Event Category</th>
            <th>Event Date</th>
            <th>Event Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.category }}</td>
                <td>{{ event.date|date('Y-m-d') }}</td>
                {% if event.price == 0 %}
                    <td>Free!</td>
                {% else %}
                    <td>{{ event.price }} €</td>
                {% endif %}
                <td><a href="/event/{{event.id}}" button class="btn">Show</a></td>
                <td><a href="/event/edit/{{event.id}}" button class="btn">Edit</a></td>
                <td><a href="#" button class="btn del" data-id="{{ event.id }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% else %}

{% endif %}
{% endblock %}
{% block javascripts %}
<script src="/js/maineve.js"></script>
{% endblock %}
