{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}
{% block titleBar %}{% endblock %}
{% block eventBlockTitleAdmin %}{% endblock %}
{% block body %}
  <link rel="stylesheet" href="{{ asset('front-end/css/show.css') }}">
  <link rel="stylesheet" href="{{ asset('front-end/css/new.css') }}">
<div class="align">
<h1>{{ events.name }}</h1>
<p>{{ events.date|date('Y-m-d') }}</p>
<p>{{ events.category }}</p>
<p>Place: {{ events.location }}</p>
<p>{{ events.description }}</p>
{% if events.price == 0 %}
  <p>Event is free!</p>
{% else %}
  <p>Price: {{ events.price }} €</p>
{% endif %}
  <td><a class="btn classNew1" href="/event" >Go Back</a></td>
</div>
{% endblock %}
