{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}
{% block titleBar %}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('front-end/css/login.css') }}">
    <div class="example-wrapper">
{% if error %}
    <span class="error">{{ error.messageKey }}</span>
    {% endif %}
    <div class="wrap">
        <nav class="titleHead">
             <nav class="navbarhead-bg">
                 </nav>
        <nav class="navbar navbar-expand-lg navbar-dark navbarhead-bg mb-5">
                <img src="{{ asset('front-end/images/ktu-logo-lt-pilnas.png') }}" class ="imgKTU">
                </nav>
         </nav>
        <h2>Enter your username and password</h2>
   <form action="{{ path('login') }}" method="POST">
       <div class="textBox">
           <h3>Username</h3>
           <div class="labelStylesPosition">
            <input Type="text" class="labelStyles" name="_username" value="{{ last_username }}" placeholder="Write here ...">
       </div>
       </div>
       <div class="textBox">
           <h4>Password</h4>
           <div class="labelStylesPositionOne">
            <input Type="password" class="labelStyles" name="_password" placeholder="Write here ...">
           </div>
       </div>

       <button type="submit" class="btnOne">Login</button><br>
       <button class="btnTwo"><a href="{{ '/menu' }}">Go back</a></button>

   </form>
</div>
</div>
{% endblock %}



