{% extends 'base.html.twig' %}

{% block title %}KTU events Sign Up{% endblock %}

{% block body %}
        <link rel="stylesheet" href="{{ asset('front-end/css/register.css') }}">
        <div class="wrap">
            <h2>Sign Up Form</h2>
            <form>
                {{ form_start(registrationForm) }}
                <div class="textBox">
                    {{ form_widget(registrationForm.username,{'attr' : {'class' :'labelStyles','placeholder': 'username' } })}}
                  </div>

                <div class="textBox">
                    {{ form_widget(registrationForm.email,{'attr' : {'class' :'labelStyles','placeholder': 'email' } })}}
                </div>
                <div class="textBox">
                    {{ form_widget(registrationForm.plainPassword,{'attr' : {'class' :'labelStyles','placeholder': 'password' } })}}
                </div>

                <button class="btn">Register</button>
                <button class="btn"><a href="{{ '/menu' }}">Go back</button>
                {{ form_end(registrationForm) }}
            </form>
        </div>


{% endblock %}
