{% extends 'base.html.twig' %}

{% block title %}All users{% endblock %}
{% block titleBar %}{% endblock %}
{% block eventBlockTitleUser %}{% endblock %}
{% block body %}
{% if users %}

    <link rel="stylesheet" href="{{ asset('front-end/css/index.css') }}">
    <div class="eventTitleAlign">
        <p align="center">Customize User and Admin roles easy </p>
    </div>
    <div class="eventTitleAlign1">
        <p align="center">Change permissions by clicking buttons below</p>
    </div>
    <div class="align">
    <table id="user" class ="table table-hover ">
    <thead class="thead-dark">
    <tr>
        <th>User Name</th>
        <th>Role</th>
        <th>Inspect</th>
        <th>Permission</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
          {% for user in users %}
          <tr>
          <td>{{ user.username }}</td>
          {% if user.role == 1 %}
          <td>Admin</td>
          {% else %}
            <td>User</td>
          {% endif %}
          <td><a href="/users/{{user.id}}" button class="btn">Show</a></td>
          <td><a href="/users/rolechange/{{user.id}}" button class="btn">Change Role</a></td>
          <td><a href="#" button class="btn del" data-id="{{ user.id }}">Delete</a></td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
</div>
{% else %}
    <p>No users</p>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="/js/main5.js"></script>
{% endblock %}
