{% extends 'base.html.twig' %}

{% block title %}All users{% endblock %}

{% block body %}
<td><a href="/event">Events</a></td>
<td><a href="/users">Users</a></td>
<td><a href="/categories">Categories</a></td>
<td><a href="/profile">Profile</a></td>
<a href="{{path('logout')}}">Logout</a>
{% if users %}
    <table id="user" class ="table table-striped">
    <thead>
    <tr>
      <th>User Name</th>
      <th>Role</th>
      <th>Actions</th>
      </tr>
      </thead>
      <tbody>
          {% for user in users %}
          <tr>
          <td>{{ user.username }}</td>
          {% if user.role == 1 %}
          <td>Admin</td>
          {% else %}
            <td>User</td>
          {% endif %}
          <td><a href="/users/{{user.id}}" button class="btn">Show</a></td>
          <td><a href="/users/rolechange/{{user.id}}" button class="btn">Change Role</a></td>
          <td><a href="#" button class="btn del" data-id="{{ user.id }}">Delete</a></td>
          </tr>
          {% endfor %}
      </tbody>
      </table>
{% else %}
    <p>No users</p>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="/js/main5.js"></script>
{% endblock %}
