{% extends 'base.html.twig' %}

{% block title %}All users{% endblock %}
{% block eventBlockTitleAdmin %}{% endblock %}

{% block body %}
<table id="user">
<h1>{{ users.username }}</h1>
<p>Email: {{ users.email }}</p>
{% if users.role == 1 %}
<p>{{ users.username }} is Admin</p>
{% else %}
<p>{{ users.username }} is just a user</p>
{% endif %}
<tr><td><a href="#" button class="btn del" data-id="{{ users.id }}">Delete this user</a></td></tr>
<td><a href="/users">Go Back</a></td>
{% endblock %}

{% block javascripts %}
<script src="/js/main5.js"></script>
{% endblock %}
